 @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>

*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 7000px; */
    margin: 0;
    padding: 0;
    background-color: white;
    
}
/*------------------------------------------------------------ Header section----------------------------------------- */
.logo{
    margin-left: 20px;
    /* background-color: blue; */

}
.navBar {
    /* background-color: aqua; */
    


}


.firstNavbar {
    
    box-shadow: 0 0 0 1.2px rgb(207, 205, 205);
    align-items: center;
    display: flex;


    height: 100px;


}

.navbarTxtArea {
    display: flex;
    /* justify-content: space-between; */
    /* background-color: bisque; */
    margin-left: 30%;
    height: 100px;
}

.plusIcon 
{
    font-weight: 900;
    color: aqua;
    padding: 8px;
    
    
}
.addHoverEffect:hover + .plusIcon{

color: red;

}
.phoneNo{
    
    border-bottom: none;
    margin: 30px;
    display: flex;
    /* background-color: violet; */
    /* margin-right: 100px; */
    justify-content: center;
    align-items: center;
}


.txt {
    
    margin: 9px;
    padding: 6px;
    display: flex;
    flex-direction: column;
}

.time {
    border: 2px solid rgb(204, 204, 201);
    
    border-top: none;
    border-bottom: none;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* background-color: brown; */
}

.time-txt {
    margin: 9px;
    padding: 6px;
    display: flex;
    flex-direction: column;

}

.email {
    
    margin: 30px;
    /* background-color: aquamarine; */
    display: flex;

    justify-content: center;
    align-items: center;
    

}

.email-txt {
    margin: 9px;
    padding: 6px;
    display: flex;
    flex-direction: column;

}

.color-gray{
    color: rgb(186, 184, 184);
    margin-top: 2px;
}


.Icons
{
    font-size: 25px;
    padding: 10px;
    color:rgb(102, 109, 231);
}


.secondNavbar{
    /* background-color: rgb(177, 177, 220); */
    position:sticky;
    /* position: -webkit-sticky; */
    top: 0;
    /* width: 100vw; */
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
.navlinks{
    margin-left: 25px;
}
.navlinks ul{
    display: flex;
}

.navlinks ul li{
    list-style: none;
    margin: 17px;
    padding: 5px;
}

.navlinks ul li a{
    text-decoration: none;

}

.icons
{
    /* background-color: blueviolet; */
    margin-right: 50px;
}

.icons span{
    font-size: 25px;
    margin: 12px;
}
#dropDownMenu{
    position: absolute;
    height: auto;
    background-color: white;
    width: 300px;
    border-top: 1.5px solid aqua;
    display: none;
    transition: 0.6s;
    
}


#dropDownMenu ul{
    margin-left: 20px;
    color: black;

}
#dropDownMenu ul li{
    margin: 20px;
    list-style: none;

}
#dropDownMenu ul li a{
    text-decoration: none;
 

}

#dropDownMenu2{
    position: absolute;
    height: auto;
    background-color: white;
    width: 300px;
    border-top: 1.5px solid aqua;
    margin-left: 100px;
    display: none;
    
    

}
#dropDownMenu2 ul{
    margin-left: 20px;
    color: black;

}
#dropDownMenu2 ul li{
    margin: 20px;
    list-style: none;

}
#dropDownMenu2 ul li a{
    text-decoration: none;
 

}

#dropDownMenu3{
    position: absolute;
    height: auto;
    background-color: white;
    width: 300px;
    border-top: 1.5px solid aqua;
    margin-left: 200px;
    display: none;

}
#dropDownMenu3 ul{
    margin-left: 20px;
    color: black;

}
#dropDownMenu3 ul li{
    margin: 20px;
    list-style: none;

}
#dropDownMenu3 ul li a{
    text-decoration: none;
 

}
#dropDownMenu4{
    position: absolute;
    height: auto;
    background-color: white;
    width: 300px;
    border-top: 1.5px solid aqua;
    margin-left: 300px;
    display: none;

}
#dropDownMenu4 ul{
    margin-left: 20px;
    color: black;

}
#dropDownMenu4 ul li{
    margin: 20px;
    list-style: none;

}
#dropDownMenu4 ul li a{
    text-decoration: none;
 
}



/* .dropDownMenu::after {
    content: "";
    background: rgba(51, 16, 155, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
} */

/* --------------------------------------------------main section----------------------------------------------------- */


.img-sec {
    height: 80vh;
    background-attachment: fixed;
    

}
.allImg{
    height: 100vh;
    width: 100%;
    background-color: aqua;
    text-align: center;
    position: relative;
    margin: auto;
    overflow: hidden;
    z-index: -1;
  
    

}

.allImg .slide img{
    height:100%;
    width:100% ;
    background-size: cover;
    object-fit: cover;
}
.allImg .slide{
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 1s;

}


.emergency-time-opening{
    z-index: 25;
    display: flex;
    height: 200px;
    /* margin-top: 600px; */
    /* background: black; */
    justify-content: center;
    
}
.emergency-time-opening .icons{
    font-size: 40px;
    display: flex;
    margin-top: 40px;
    margin-left: 30px;
    /* justify-content: center; */
    

}
.emergency-time-opening .heading{
    /* color: red; */
    font-size: 30px;
    font-weight: 600;
    display: flex;
    margin-left: 30px;
    margin-top: 20px;

}

.emergency{
    background-color: rgb(20, 3, 83);
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
    
}
.emergency a{
    text-decoration: none;
    color: white;
}

.emergency  span{
    margin-left: 30px;
    margin: 20px;
}
.emergency  .call{
    font-size: 40px;
    font-weight: 800;
    display: flex;
    /* justify-content: center; */
    margin-left: 60px;
    margin-top: 30px;
} 

.timing{
    background-color: rgb(112, 100, 227);
    height: 350px;
    width: 400px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */

}
.timing a{
    text-decoration: none;
    color: white;

}
.opening
{
    background-color: rgb(47, 191, 223);
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* .opening span{
    display: flex;
    justify-content: center;
    margin-top:50%;
    flex-direction: column;
    margin-left: 30px;
    border: 2px solid white;
    margin: 24px;
    font-size: 20px;
    font-weight: 500;
} */
.opening .opening-Time{
    display: flex;
flex-direction: column;
margin-left: 30px;
    /* height: 30px; */
    
    

}
.opening .opening-Time{
    margin: 30px;
}
.opening .opening-Time  div{
    display: flex;
    margin: 6px;
    height: 35px;
    /* background-color: aqua; */
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(224, 217, 217, 0.92);
    border-top: none;
    border-left:none ;
    border-right:none ;
    font-size: 20px;
}
.opening .opening-Time .clock-Time{

display: inline-flex;
justify-content: space-between;
    width: 100px;
    /* background-color: rgb(255, 0, 149); */
}

.opening a{
    text-decoration: none;
    color: white;
}


.finestPatient-Section{
    /* height: 100vh; */
    /* background-color: aqua; */
    display: flex;
    margin-top: 340px;

}


.header-txt{
    /* margin-top: 200px; */
    margin-left: 190px;
    font-size: 50px;
    /* border: 2px solid red; */
    margin-top: 70px;
    width: 400px;

}
.header-txt .gray{
    color: gray;
    
}
.header-txt .black{
    font-weight: 700;
}


.finestPatient{
    height: 450px;
    
    /* border: 2px solid red; */
}

.firstSection{
    /* height: 200px; */
    /* border: 2px  solid green; */
    display: flex;
    margin-left: 150px;
    margin-top: 10px;
}
.about{
    /* margin: 5px; */
    /* margin-top: 30px; */
    /* padding: 5px; */
    /* border: 2px solid black; */
    margin-top: 40px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about li{
    margin: 6px;
    font-size: 18px;
    color: gray;
    
    
}

.finestPatientImg{
    /* display: flex; */
    /* border: 2px solid red; */
    /* height: 300px; */
    margin-left: 20px;

}
.finestPatientImg img{
    height: auto;
}

.finestPatient{
    display: flex;
}
.box{
    
    /* background-color: brown; */
}
.learnMoreBtnDiv{
    /* border: 2px solid red; */
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin-left: 180px;
    margin-top: 30px;
    /* background-color: aquamarine; */
    

}
.learnMoreBtn{
    height: 40px;
    width: 100px;
    /* margin-right: 10px; */
    background-color: rgb(47, 191, 223);
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;


}
.learnMoreBtn a{
    text-decoration: none;
color: white;

}
.learnMoreBtnDiv span {
    background-color: rgb(20, 177, 212);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 7px; */
    height:40px ;
    width: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px;
}
.learnMoreBtnDiv span i{
    color: white;
    font-size: 24px;
}

/* --------------------------------------------------laboratory section------------------------------------------ */
.bestLabsDiv{
    margin-top: 63px;
    /* border: 2px solid red; */
    height: 500px;
    display: flex;
    background-color: aqua; 


}
.bestLabsDiv .firstSection{
    height: 500px;
    width: 60%;
    /* background-color: red; */
    text-align: center;
    position: relative;
    margin: auto;
    overflow: hidden; 

}

.bestLabsDiv .firstSection .imagesecDiv{
    /* background-color: azure; */
    background-size: cover;
    height: 100%;
    width: 100%;
    /* transition: 1s; */

}
.bestLabsDiv .firstSection .imagesecDiv img{
    background-size: cover;
    height: 100%;
    width: 100%;

}





.bestLabsDiv .secondSection{
    display: inline-flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
     width: 65%;
     color:whitesmoke;
     /* background-color: rgb(30, 181, 181); */
   
}

.bestLabsDiv .secondSection .headerTxt
{
    margin-left: 140px;
    /* background-color: blueviolet; */
    margin-top: 60px;
    font-size: 65px;
}

.bestLabsDiv .secondSection .bodyTxt{
    margin-left: 140px;
    width: 70%;
    

    margin-top: 50px;
}

.labButtton{

    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin-left: 140px;
    margin-top: 30px;
    /* background-color: aqua; */


   
}

 .labButtton .labBtn{
    height: 40px;
    /* color: red;g */
    width: 130px;
    /* margin-right: 10px;  */
    /* background-color: rgb(47, 191, 223); */
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;

}

.labButtton span{
    background-color: rgb(210, 206, 206);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 7px; */
    margin: 0;
    height:40px ;
    width:40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px;

}
.labButtton .labBtn a{
    text-decoration: none;
color: gray;

}

/* -------------------------------------types of clinic------------------------------------------------------- */

.typesOfClinic
{
    margin-top: 80px;

    /* display:flex ; */
    /* border: 2px solid red; */
    
}

.typesOfClinic .upperSection{
    /* border: 2px solid red; */
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.upperSection .upperSecDiv{
    display: flex;
    /* background-color: aqua; */
    /* border: 2px solid red; */
    margin: 7px;
    /* width: 400px; */
    
}

.upperSecDiv .img img
{
    height: 100px;
    transition: transform .4s cubic-bezier(.38,3,.57,1.6);
    
}
.upperSecDiv .img img:hover{
    transform :translateY(-7px);

}
.upperSecDiv .upperSecTxt{
    /* background-color: rgb(98, 0, 255); */
    width: 250px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;

}

.upperSecDiv .upperSecTxt .header{
    font-size: 26px;
    margin-top: 5px;
}
.upperSecDiv .upperSecTxt .clinicTxt{
    /* background-color: red; */

    color: gray;
    word-spacing: 1.5px;
}




.typesOfClinic .lowerSection{
/* border: 2px solid red; */
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.lowerSection .lowerSecDiv{
    display: flex;
    /* background-color: aqua; */
    /* border: 2px solid red; */
    margin: 14px;
    /* width: 400px; */
    
}

.lowerSecDiv .img img
{
    height: 80px;
    transition: transform .4s cubic-bezier(.38,3,.57,1.6);
    
}
.lowerSecDiv .img img:hover{
    transform :translateY(-7px);
}

.lowerSecDiv .lowerSecTxt{
    /* background-color: rgb(98, 0, 255); */
    width: 250px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;

}

.lowerSecDiv .lowerSecTxt .header{
    margin-top: 5px;
    font-size: 26px;
}
.lowerSecDiv .lowerSecTxt .clinicTxt{
    /* background-color: red; */

    color: gray;
    word-spacing: 1.5px;
    /* margin-top: 30px; */
}


.galleryimgDiv{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 234, 234);
    height: 900px;
    margin-top: 40px;

}

.headerPartOfGallery{
    /* background-color: red; */
    font-weight: 700;
    width: 40vw;
    /* margin-left: 30%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 100px;

}

.headerPartOfGallery .header{
    font-size: 45px;
}


.headerPartOfGallery .text{
    color:gray;
}

.galleryimgDiv .parents{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.galleryimgDiv .parent{
    width: 30%;
    margin: 15px;
    height: 280px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0 ,0.5) ;
}
.galleryimgDiv .child{
    height: 100%;
    width: 100%;
    background-size: cover;
    transition: all .2s ease-in;
}

.parent:hover .child{
    transform: scale(1.1);
}


.aboutSecDiv{
    height: 400px;
    background-color:rgb(75, 75, 220);
    /* backdrop-filter: transparent; */

}

.aboutSecDiv .aboutSecImg{
    position: relative;
    height: 400px;
    

    background: url("https://t3.ftcdn.net/jpg/03/21/23/36/360_F_321233603_JKUNfIr8hPlfLx8OBR9xSAPRsmiIk2Ku.jpg");
    background-repeat: no-repeat;
    
    background-size:cover;
background-attachment: fixed;
overflow: hidden;
    
}

.aboutSecImg::after {
    content: "";
    background: rgba(69, 22, 237, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: 1; */
}
.aboutSecDiv .aboutSecImg .aboutSecTxt{
    /* background-color: rgb(1, 141, 201); */
    
    
    
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutSecDiv .aboutSecImg .aboutSecTxt div{
    margin: 10px;
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 30px;
    font-weight: 800;
    color: rgb(244, 238, 238);
    z-index: 3;

}
.aboutSecDiv .aboutSecImg .aboutSecTxt div span{
    margin: 10px;
}


.medicalPracticeSecDiv{
    height: 400px;
    /* background-color: rgb(220, 226, 224); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
}
.medicalPracticeSecTxt {
    /* background-color: brown; */
    display: flex;
    /* width: 40%; */
    height: 400px;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;

}

.medicalPracticeSecTxt .header{
    /* color: red; */
    font-size: 50px;

}
.medicalPracticeSecTxt .header2
{
    font-size: 45px;
    font-weight: 800;
}
.medicalPracticeSecTxt .txt{
    /* color: red; */
    width: 470px;
    font-size: large;
    word-spacing: 1.4%;
    margin-top: 20px;
    display: flex;
    margin-left: 0;
/* background-color: aqua; */
}

.medicalPracticeSecGraph{
    /* width: 50%; */
    height: 400px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 100px; */
    /* align-items: center; */

}
.medicalPracticeSecGraph .meadicalPracticeSecGraph1{
    /* background-color: aqua; */
    margin: 13px;
    height: 50px;
}
.medicalPracticeSecGraph .meadicalPracticeSecGraph1 .txt{
    display:flex;
    justify-content: space-between;
    
    flex-direction: row;
    width: 550px;
    /* background-color: red; */
    
/* color: red; */
}

.medicalPracticeSecGraph .meadicalPracticeSecGraph1 .graph{
    background-color: rgb(43, 202, 226);
    height: 6px;
    width: 550px;
    border-radius: 6px;

    margin-left: 17px;
}

.meetOurTeamSection{
    height: 800px;
    background-color: rgb(222, 230, 230);
    border: 2px;
    display: flex;
    flex-direction: column;

}

.meetOurTeamHeader
{
    /* background-color: rgb(15, 17, 17); */
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    
}
.meetOurTeamHeader .headerTxt{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.meetOurTeamHeader .bodyTxt
{
    font-size: large;
}


.allDoctors{
    display: flex;
    margin-top: 50px;
    height: 500px;
    justify-content: center;
    /* background-color: aquamarine; */

}
.allDoctors .doctor1
{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    /* margin: 20px; */
    /* border: 2px solid red; */
    /* height: 400px; */
    width: 310px;
}
.allDoctors .doctor1 .img{
 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.allDoctors .doctor1 .imgCover{
    position: absolute;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom:100px;
    margin-left: 180px;
 
    border-radius: 50%;
    background-color: aqua;
    transition: 0.1s;

}
.allDoctors .doctor1 .imgCover span img{
    height: 50px;
    width: fit-content;
    object-fit: cover;

}
.doctor1 .imgCover:hover{
    height: 200px;
    width: 200px;
    
    margin-bottom:0;
    margin-left:0;
    overflow: hidden;
    background-size: cover;
    
    
}
.doctor1 .imgCover span i{
    font-size: larger;
}

.allDoctors .doctor1 .img img{
    height: 200px;
    width: 200px;
    background-size: cover;
    border-radius: 50%;
    margin-top: 10px; 
    object-fit: cover;
    
}

.allDoctors .doctor1 .doctor1Txt
{
    align-items: center;
    margin-top: 15px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}
.doctor1 .doctor1Txt .doctorName
{
    /* color: red; */
    font-size: larger;
    font-weight: 600;
}

.doctor1 .doctor1Txt .doctorType
{
    margin: 10px;
color: blue;
}
.doctor1 .doctor1Txt p{
display: flex;
width: 260px;
text-align-last: center;
}

.doctor1 .doctor1Icons span{
    margin: 10px;
}

.contactUsDiv{ 
    background-color: rgb(94, 222, 222);
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.contactUsDiv .txt{
    color:whitesmoke;
    font-size: 30px;
}



.footerMainDiv
{
    background-color:rgb(58, 53, 53);
    display: flex;
    align-items: center;
    color: white;
    height: 600px;
}
.footerMainDiv .footerAboutClinic
{
    width: 400px;
    
    margin-left: 40px;
    /* background-color: aqua; */
}
.footerAboutClinic .mediClinic{
    font-size: 30px;
    /* color: red; */
    /* border: 2px solid red; */
    font-weight: 800;
    display: flex;
    margin-bottom: 25px;

}

.footerMainDiv .contactAndLocation
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* background-color: aqua; */
}
.footerMainDiv .contactAndLocation span{
    margin: 8px;
}

.footerMainDiv .footerSocialMediIcons{
    margin-top: 20px;
    height: 100px;
    width: 200px;
}
.footerMainDiv .footerSocialMediIcons span a i
{
    background-color: rgb(224, 230, 230);
    /* margin: 10px; */
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}

.footerMainDiv .footerLatestNews
{
    
 /* background-color: aqua; */
 margin-left: 50px;
}
.footerLatestNews .heading{
    /* color: red; */
    font-size: larger;
    height: 60px;

}

.footerLatestNews .news{
    display: flex;
    margin-top: 30px;
}
.footerLatestNews .news .img img{
    height: 100px;
}
.footerLatestNews .news a{
    color: whitesmoke;
    text-decoration: none;
}

.footerLatestNews .news .txt{
    display: flex;
    font-size: larger;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerLatestNews .news .txt .date{
    display: flex;
    font-size: medium;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
    width: 120px;
}

.footerMainDiv .followUs
{
    /* background-color: aqua; */
    height: 30px;
    font-size: larger;
    /* width: 200px; */
    margin-left: 100px;
}

.footerContactUs
{
    margin: 10px;
    margin-left: 60px;
    
    height: 300px;
    /* width: 200px; */
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.footerContactUs .header{
    color: rgb(94, 222, 222);
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    


}
.footerContactUs input{
    border: none;
    height: 30px;
    width: 220px;
    padding: 8px;
    outline: none;
    border-radius: 6px;
    background-color: rgb(184, 180, 180);
}
.footerContactUs textarea{
    padding: 3px;
    width: 230px;
    height:150px ;
    resize: none;
    outline: none;
    border-radius: 4px;
    background-color: rgb(184, 180, 180);
    
}

.footerContactUs .btn{
    margin-top: 30px;

}
.footerContactUs .btn button{
    width: 90px;
    height: 38px;
    border-radius: 6px;
    background-color: rgb(94, 222, 222);
    color: white;


}
.copyright{
    color: white;
    /* font-size: 20px; */
    display: flex;
    height: 80px;

justify-content: center;
align-items: center;
background-color:rgb(58, 53, 53);

}

